/* Cards container ==========================*/
div.cards_container {
  width: 100%;
  padding: 4rem 2rem 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  /* Bakcground _______________________________________________________________*/
  background-color: #f2f4fb;
  opacity: 1;
  background-image: linear-gradient(135deg, #f9f9f9 25%, transparent 25%),
    linear-gradient(225deg, #f9f9f9 25%, transparent 25%),
    linear-gradient(45deg, #f9f9f9 25%, transparent 25%),
    linear-gradient(315deg, #f9f9f9 25%, #f2f4fb 25%);
  background-position: 40px 0, 40px 0, 0 0, 0 0;
  background-size: 80px 80px;
  background-repeat: repeat;
  /* _________________________________________________________________________ */
}
